# Default values for legal-framework-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

resources:
  limits:
    cpu: 500m
    memory: 1G
  requests:
    cpu: 10m
    memory: 125Mi

ingress:
  className: default-non-prod
  annotations:
    external-dns.alpha.kubernetes.io/aws-weight: "100"

# database_name and redirect_uri value must be set by `helm --set` command when enabled
branch_builder:
  enabled: true
  database_name: null
